# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [1]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
#json_normalize(data, 'counties', [['info','governor'], 'state','shortname'], errors='ignore')
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank

In [7]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [8]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [9]:
# Question 1.
# load project file as panda dataframe
json_df = pd.read_json('data/world_bank_projects.json')
json_df.head(3)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}

In [10]:
json_df.shape

(500, 50)

In [11]:
# Check that ALL mentioned countries DO have projects whether active or closed
# 500rows of countryname and 500rows of project_name.

json_df_sub = json_df[:][['countryname','approvalfy','projectstatusdisplay','project_name']]
json_df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
countryname             500 non-null object
approvalfy              500 non-null int64
projectstatusdisplay    500 non-null object
project_name            500 non-null object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [12]:
# Count of top 10 mentioned countries
json_df['countryname'].value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [13]:
# Checking Africa projects
# Seems 'off' to have a Continent name, but it turns out these are projects 
# that span sub-regions.

Africa_projects = json_df[json_df['countryname']=='Africa']
Africa_projects

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
45,[{'Name': 'Health'}],N,OTHER,RE,[Human development],0,WAHO,West Africa Regional Disease Surveillance Cap...,"8,10",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",September,"[{'code': '67', 'name': 'Health system perform...",Africa,http://www.worldbank.org/projects/P125018/west...,IBRD,Active,0,"[{'code': 'JA', 'name': 'Health'}]",{'$oid': '52b213b38594d8a2be17c7ad'}
46,"[{'Name': 'Telecommunications'}, {'Name': 'Inf...",N,IDA,PE,"[Public sector governance, Rural development, ...",22000000,RELEVANT MINISTRIES IN CHARGE OF TELECOM/ICT P...,RCIP4 - Regional Communications Infrastructure...,"2,10,4,4",2018-06-30T00:00:00Z,...,"[{'Percent': 60, 'Name': 'Information and comm...",September,"[{'code': '25', 'name': 'Administrative and ci...",Africa,http://www.worldbank.org/projects/P118213/rcip...,IBRD,Active,0,"[{'code': 'CT', 'name': 'Telecommunications'},...",{'$oid': '52b213b38594d8a2be17c7ae'}
51,"[{'Name': 'General water, sanitation and flood...",N,OTHER,GE,"[Environment and natural resources management,...",0,"OSS, IUCN, CILSS/AGRYHMET","Building Resilience through Innovation, Commun...","11,11,11,11,11",NaN,...,"[{'Percent': 50, 'Name': 'Water, sanitation an...",September,"[{'code': '80', 'name': 'Biodiversity'}, {'cod...",Africa,http://www.worldbank.org/projects/P130888/buil...,IBRD,Active,0,"[{'code': 'WZ', 'name': 'General water, sanita...",{'$oid': '52b213b38594d8a2be17c7b3'}
58,"[{'Name': 'General agriculture, fishing and fo...",N,OTHER,GM,"[Environment and natural resources management,...",0,BANK EXECUTED,Fighting against wildlife poaching and illegal...,"11,11",NaN,...,"[{'Percent': 50, 'Name': 'Agriculture, fishing...",August,"[{'code': '80', 'name': 'Biodiversity'}, {'cod...",Africa,http://www.worldbank.org/projects/P144902?lang=en,IBRD,Active,0,"[{'code': 'AZ', 'name': 'General agriculture, ...",{'$oid': '52b213b38594d8a2be17c7ba'}
65,[{'Name': 'Hydropower'}],N,IDA,PE,"[Financial and private sector development, Soc...",339900000,NaN,Regional Rusumo Falls Hydroelectric Project,"4,7,10,5",2020-12-31T00:00:00Z,...,"[{'Percent': 100, 'Name': 'Energy and mining'}]",August,"[{'code': '39', 'name': 'Infrastructure servic...",Africa,http://www.worldbank.org/projects/P075941/nels...,IBRD,Active,0,"[{'code': 'LH', 'name': 'Hydropower'}]",{'$oid': '52b213b38594d8a2be17c7c1'}
99,[{'Name': 'Agricultural extension and research...,Y,IDA,PE,"[Trade and integration, Trade and integration,...",60000000,NaN,Additional Financing-West Africa Agricultural ...,"5,5,2,10",NaN,...,"[{'Percent': 78, 'Name': 'Agriculture, fishing...",June,"[{'code': '47', 'name': 'Regional integration'...",Africa,http://www.worldbank.org/projects/P145160/addi...,IBRD,Active,0,"[{'code': 'AB', 'name': 'Agricultural extensio...",{'$oid': '52b213b38594d8a2be17c7e3'}
167,"[{'Name': 'Telecommunications'}, {'Name': 'Gen...",N,IDA,PE,"[Trade and integration, Financial and private ...",60000000,NaN,West Africa Regional Communications Infrastruc...,"5,4,4,5",2018-11-30T00:00:00Z,...,"[{'Percent': 62, 'Name': 'Information and comm...",May,"[{'code': '47', 'name': 'Regional integration'...",Africa,http://www.worldbank.org/projects/P123093/west...,IBRD,Active,0,"[{'code': 'CT', 'name': 'Telecommunications'},...",{'$oid': '52b213b38594d8a2be17c827'}
184,[{'Name': 'Rural and Inter-Urban Roads and Hig...,N,IDA,PE,"[Trade and integration, Trade and integration,...",213000000,TANROADS,Southern Africa Trade and Transport Facilitati...,"5,5,9,8",2018-12-31T00:00:00Z,...,"[{'Percent': 84, 'Name': 'Transportation'}, {'...",May,"[{'code': '47', 'name': 'Regional integration'...",Africa,http://www.worldbank.org/projects/P120370/sout...,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c838'}
287,[{'Name': 'Agricultural extension and research...,N,IDA,PE,"[Rural development, Trade and integration, Tra...",90000000,CCARDESA AND NATIONAL GOVERNMENTS/AGENCIES,Agricultural Productivity Program for Southern...,"10,5,5",2020-01-31T00:00:00Z,...,"[{'Percent': 73, 'Name': 'Agriculture, fishing...",March,"[{'code': '78', 'name': 'Rural services and in...",Africa,http://www.worldbank.org/projects/P094183/agri...,IBRD,Active,0,"[{'code': 'AB', 'name': 'Agricultural extensio...",{'$oid': '52b213b38594d8a2be17c89f'}
353,"[{'Name': 'General water, sanitation and flood...",N,OTHER,RE,"[Environment and natural resources management,...",0,NILE BASIN INITIATIVE,Nile Cooperation for Results Project,"11,7,11",2015-12-31T00:00:00Z,...,"[{'Percent': 84, 'Name': 'Water, sanitation an...",January,"[{'code': '85', 'name': 'Water resource manage...",Africa,http://www.worldbank.org/projects/P130694/nile...,IBRD,Active,0,"[{'code': 'WZ', 'name': 'General water, sanita...",{'$oid': '52b213b38594d8a2be17c8e1'}
449,"[{'Name': 'Hydropower'}, {'Name': 'Irrigation ...",N,IDA,PE,"[Urban development, Environment and natural re...",203000000,NIGER BASIN AUTHORITY (NBA),First Part of the Second Phase of the Niger Ba...,"9,11,10,5",2020-04-01T00:00:00Z,...,"[{'Percent': 25, 'Name': 'Energy and mining'},...",October,"[{'code': '73', 'name': 'Municipal governance ...",Africa,http://www.worldbank.org/projects/P130174/firs...,IBRD,Active,0,"[{'code': 'LH', 'name': 'Hydropower'}, {'code'...",{'$oid': '52b213b38594d8a2be17c941'}

In [14]:
# Question 2.
# Count of top 10 major project themes

# import json as string
json_string = json.load((open('data/world_bank_projects.json')))

In [66]:
# use normalization to create tables for 'mjtheme_namecode'

json_mjtheme = json_normalize(json_string,'mjtheme_namecode')
json_mjtheme.head(10) # check top 10rows

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [67]:
json_mjtheme.name.value_counts().head(10)# re-organize and display top 10 project themes

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [68]:
json_mjtheme.sort_values(['code', 'name']).head(10)

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management

In [69]:
# Part 3
json_mjtheme

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

In [70]:
#sort dataframe and place Nans at the top
json_mjtheme = json_mjtheme.sort_values('name', na_position='first')

#Create dictionary with code, name as key, value pairs
code_name = dict(zip(json_mjtheme['code'], json_mjtheme['name']))

code_name

{'8': 'Human development',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '4': 'Financial and private sector development',
 '7': 'Social dev/gender/inclusion',
 '2': 'Public sector governance',
 '6': 'Social protection and risk management',
 '5': 'Trade and integration',
 '3': 'Rule of law',
 '9': 'Urban development',
 '1': 'Economic management'}

In [71]:
# make copy of mjtheme
json_mjtheme_replaced = json_mjtheme.copy()

In [72]:
# Replace missing 'name' data using the dictionary key, value pairs:

json_mjtheme_replaced['name'] = json_mjtheme_replaced['code'].map(code_name)
json_mjtheme_replaced.iloc[1000:1110]

     code                         name
1122   10            Rural development
1336   10            Rural development
1123   10            Rural development
195    10            Rural development
1226   10            Rural development
...   ...                          ...
224     7  Social dev/gender/inclusion
1349    7  Social dev/gender/inclusion
545     7  Social dev/gender/inclusion
890     7  Social dev/gender/inclusion
1346    7  Social dev/gender/inclusion

[110 rows x 2 columns]

In [73]:
# Check presence of Nan values
json_mjtheme_replaced['name'].isnull().value_counts()

False    1499
Name: name, dtype: int64

# Summary:

### Part 1: 10 countries with most projects, are:

People's Republic of China         19; 
Republic of Indonesia              19; 
Socialist Republic of Vietnam      17;
Republic of India                  16;
Republic of Yemen                  13;
Kingdom of Morocco                 12;
Nepal                              12;
People's Republic of Bangladesh    12;
Republic of Mozambique             11;
Africa                             11.



### Part 2:Find the top 10 major project themes (using column 'mjtheme_namecode')

Environment and natural resources management    223;
Rural development                               202;
Human development                               197;
Public sector governance                        184;
Social protection and risk management           158;
Financial and private sector development        130;
"empty cell"                                    122;
Social dev/gender/inclusion                     119;
Trade and integration                            72;
Urban development                                47.


### Part3: In 2. above, create a dataframe with the missing names filled in.
mjtheme_namecode has 2 columns. The 'code' column was complete, but the 'name' column had empty cells that were tackled by:
    1. sorting the dataframe such that the Nan values were at the top.
    2. Creating a dictionary with the 'code', 'name' as key/vale pairs.
    3. Using the dictionary to map the missing name values using the dictionary.